{%extends 'base.html'%} <!--extneide de base-->

<!--titulo de la pagina-->
{%block title%} experiencia {%endblock%}

{% block mensaje %} {%endblock%}

{%block experiencia%}
<section class="experiencia seccion__clara">
    <div class="container text-center">

        <div class="row"><!--Usando grilla de boostrap -->

            <!--Desarrollo web-->
            <div class="columna col-12 col-md-4"> <!--para pequeños y medianos-->
                <i class="bi bi-laptop"></i> <!--Icono de BS-->
                <p class="experiencia__titulo">Desarollo web</p>
                <p class="experiencia__parrafo">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil
                    facere iusto mollitia
                    itaqueaccusantium delectus, optio corporis autem dolorum excepturi consequuntur quo dolorem
                </p>
                <div class="badge-contenedor"> <!--Insignias-->
                    <span class="badge text-bg-primary">HTML</span>
                    <span class="badge text-bg-primary">SCC</span>
                    <span class="badge text-bg-primary">JAVASCRIPT</span>
                    <span class="badge text-bg-primary">PYTHON</span>
                </div>
            </div>

            <!--Articulo-->
            <div class="columna col-12 col-md-4">
                <i class="bi bi-book"></i>
                <p class="experiencia__titulo">Articulos</p>
                <p class="experiencia__parrafo">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil
                    facere iusto mollitia
                    itaqueaccusantium delectus, optio corporis autem dolorum excepturi consequuntur quo dolorem
                </p>
                <div class="badge-contenedor"> <!--Insignias-->
                    <span class="badge text-bg-primary">Escribir</span>
                    <span class="badge text-bg-primary">Editar</span>
                    <span class="badge text-bg-primary">Blogs</span>
                </div>

            </div>
            <!--Estudiante-->
            <div class="columna col-12 col-md-4">
                <i class="bi bi-journal-bookmark-fill"></i>
                <p class="experiencia__titulo">Estudios</p>
                <p class="experiencia__parrafo">Omnis quae libero qui qui ea error architecto. Ullam nulla iste aut
                    blanditiis eos numquam.
                    Libero perspiciatis quia
                    autem veritatis aliquam. Est natus ut non odio architecto. Numquam magni nobis molestiae veniam
                </p>
                <div class="badge-contenedor"> <!--Insignias-->
                    <span class="badge text-bg-primary">BOOSTRAP</span>
                    <span class="badge text-bg-primary">SCC</span>
                    <span class="badge text-bg-primary">HTML</span>
                    <span class="badge text-bg-primary">PYTHON</span>
                </div>

            </div>

        </div>
    </div>

</section>

{%endblock%}