{%extends 'base.html'%}

{%block title%} index {%endblock%}


{%block index%}
<section class="hero align-items-stretch">
    <div class="hero__contenedor__textos d-flex flex-column justify-content-center align-items-center"> <!--flex-->
        <img class="hero__imagen__desarrollador" src="../static/imagenes/Patin.jpg" alt="Foto de mi ">
        <h1>Hola, soy Carlos Eduardo Valencia</h1>
        <h2>Estoy practicando con Boostrap ❤️</h2>
    </div>
    <div class="hero__inferior">
        <img class="hero__inferior__imagen img-fluid" ima src="../static/imagenes/hero-inferior.svg"
            alt="Computadoras, Css Boostrap">
    </div>
</section>
{%endblock%}