{%extends 'experiencia.html'%} <!--extneide de base-->

<!--titulo de la pagina-->
{%block title%} Proyectos {%endblock%}

{%block proyectos%}
<!-- Proyectos -->
<section class="proyectos__recientes seccion__clara d-flex flex-column" id="proyectos">
    <h2 class="seccion-titulo texto-negro">Mis proyectos recientes</h2>
    <h3 class="seccion__descripcion ">Estos son algunos de mis proyectos</h3>

    <!--Galeria de proyectos-->
    <div class="container text-center proyectos-contenedor">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="proyecto">
                    <img src="../static/imagenes/proyecto1.png" alt="proyecto1">
                    <div class="overlay">
                        <p>Proyecto 1</p>
                        <div class="iconos-contenedor">
                            <a href="https://github.com" target="_blank" rel="noopener noreferrer">
                                <i class="bi bi-github"></i>
                            </a>
                        </div>
                    </div>
                </div>

            </div>


            <div class="col-12 col-md-6 col-lg-4">
                <div class="proyecto">
                    <img src="../static/imagenes/proyecto2.png" alt="proyecto1">
                    <div class="overlay">
                        <p>Proyecto 2</p>
                        <div class="iconos-contenedor">
                            <a href="https://github.com" target="_blank" rel="noopener noreferrer">
                                <i class="bi bi-github"></i>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="proyecto">
                    <img src="../static/imagenes/proyecto3.png" alt="proyecto1">
                    <div class="overlay">
                        <p>Proyecto 3</p>
                        <div class="iconos-contenedor">
                            <a href="https://github.com" target="_blank" rel="noopener noreferrer">
                                <i class="bi bi-github"></i>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="proyecto">
                    <img src="../static/imagenes/proyecto4.png" alt="proyecto1">
                    <div class="overlay">
                        <p>Proyecto 4</p>
                        <div class="iconos-contenedor">
                            <a href="https://github.com" target="_blank" rel="noopener noreferrer">
                                <i class="bi bi-github"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <div class="proyecto">
                    <img src="../static/imagenes/proyecto5.png" alt="proyecto1">
                    <div class="overlay">
                        <p>Proyecto 5</p>
                        <div class="iconos-contenedor">
                            <a href="https://github.com" target="_blank" rel="noopener noreferrer">
                                <i class="bi bi-github"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <div class="proyecto">
                    <img src="../static/imagenes/proyecto6.png" alt="proyecto1">
                    <div class="overlay">
                        <p>Proyecto 6</p>
                        <div class="iconos-contenedor">
                            <a href="https://github.com" target="_blank" rel="noopener noreferrer">
                                <i class="bi bi-github"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <a href="" target="_blank" rel="noopener noreferrer">
        <button type="button" class="btn btn-primary">Ver más proyectos
            <i class="bi bi-arrow-right-circle-fill"></i>
        </button>
    </a>

</section>

{%endblock%}