{%extends 'base.html'%} <!--extneide de base-->

<!--titulo de la pagina-->
{%block title%} Sobre mi {%endblock%}
{% block mensaje %} {%endblock%}


<!--contenido bajo navbar-->
{%block sobremi%}
<section class="sobre__mi seccion__oscura" id="sobremi">
    <div class="contenedor">
        <h2 class="seccion__titulo">Conoce más sobre mi</h2>
        <p class="seccion__textos">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe ex beatae totam
            vel debitis autem magni
            facere illo, nesciunt voluptates doloremque consequuntur quo optio voluptatibus laboriosam sit labore
            doloribus odit.
        </p>
    </div>
</section>
{%endblock%}